@import '../../../styles.scss';

.wrapper{
    display: flex;
    flex-direction: row;
}

.master{
    color: #666;
}

.detailWrapper{
    width: 100%;
}

.detail{
    display: flex;
    flex-grow: 5;
    justify-content: center;
    overflow: hidden;
}

i{
    font-size: 36px;
    padding: 10px;
    border-radius: 12px;
    // position: sticky;
    // top: 0;
    background-color: #FFF;
    cursor: pointer;
    
}