.wrapper{
    display: flex;
    flex-direction: row;
}

.master{
    min-width: 400px;
    display: flex;
    flex-grow: 1;
}

.detail{
    display: flex;
    flex-grow: 5;
    justify-content: center;
}