@import '../../..//styles.scss';

.article{
    padding: 20px;
    font-family: "Pragati Narrow", sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: #FFF;
}
.articleWrapper img {
    object-fit: contain;
    max-width: 100%;
}

