$imagewidth: 200px;

nav{
    display: flex;
    flex-direction: column;
    font-family: "Questrial", sans-serif,
}

.imgWrap{
    flex-grow: 1;
    width: $imagewidth;
}

nav img {
    max-width: $imagewidth;
}

a{
    padding: 20px;
    border-bottom: solid 2px #000;
}