/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fefeff;
    color: #666;
}

$masterWidth: 400px;
$masterPadding: 50px;

